footer.footer {
  min-height: $footer-height;
  background-color: $footer-background-color;
  display: flex;
  justify-content: space-between;
  padding: 11.2rem $xl-size $l-size $l-size;
  flex-direction: column;
  @include for-tablet-portrait-up {
    flex-direction: row;
  }
  @include for-desktop-up {
    padding: 11.2rem 15.2rem 0 19.7rem;
  }
}

.footer__social-links {
  list-style: none;
  display: flex;
  li {
    margin-right: $xl-size;
  }
  a {
    text-decoration: none;
  }
  svg {
    transition: $default-transition;
    fill: #e5e5e5;
    &:hover {
      fill: #fff;
    }
  }
}

.footer__nav {
  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: $header-color;
      font-weight: 700;
      font-size: 1.8rem;
      transition: $default-transition;
      &:hover {
        color: lighten($header-color, 8%);
      }
    }
    li {
      margin-bottom: $s-size;
    }
  }
}
