.board-team {
  ul {
    list-style: none;
    padding-inline-start: 0;
    line-height: $leading-loose;
    li {
      font-weight: 700;
      color: $header-color;
      span {
        color: $green;
      }
    }
  }
}
