.dos-donts__container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5rem 3.6rem $l-size;
  h1 {
    color: $gray-green;
  }
  h2 {
    text-align: center;
    font-size: $l-size;
    margin: $l-size 0 0;
  }
}
.dos-donts__lists {
  display: grid;
  grid-template-columns: 1fr;
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
  }
  column-gap: $xs-size;
  row-gap: $s-size;
}
.dos-donts__dont-list,
.dos-donts__do-list {
  border-radius: 4px;
  color: #fff;
  h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 0 $xs-size 0 0;
  }
}
.dos-donts__do-list {
  background-color: $light-green;
  .dos-donts__list-header {
    background-color: $secondary-accent;
  }
  .dos-donts__list {
    svg {
      fill: $secondary-accent;
    }
    li {
      color: $secondary-accent;
    }
  }
}
.dos-donts__dont-list {
  .dos-donts__list-header {
    background-color: $primary-accent;
  }
  .dos-donts__list {
    svg {
      fill: $primary-accent;
    }
    li {
      color: $primary-accent;
    }
  }
}
.dos-donts__list-header {
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: #fff;
  }
}
.dos-donts__list {
  list-style: none;
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  column-gap: $m-size;
  row-gap: 1.4rem;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: $l-size 1.8rem 4.6rem;
  li {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
