.front-page__mission {
  min-height: 32.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-background-color;
  color: #fff;
  padding: 0 $l-size;
  @include for-tablet-landscape-up {
    padding: 0 15.6rem;
  }
  text-align: center;
  h2 {
    line-height: $leading-snug;
    color: #fff;
    @include for-phone-only {
      font-size: $l-size;
    }
  }
  .wp-block-latest-posts__list {
    display: none;
  }
}

.front-page__video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.2rem 0 9rem;
}
.front-page__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-tablet-landscape-up {
    align-items: initial;
    flex-direction: row;
  }
}
.front-page__video-iframe-wrapper {
  position: relative;
  width: calc(100% - (#{$l-size} * 2));
  @include for-desktop-up {
    width: calc(100vw - (12.8rem + 37.4rem + 19.2rem + #{$l-size}));
  }
  @include for-tablet-landscape-up {
    width: calc(100vw - (12.8rem + 37.4rem + (#{$l-size} * 2)));
  }
}
.front-page__video-iframe {
  position: relative;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.front-page__video-cta {
  max-width: 80%;
  margin-left: 0;
  margin-top: $xl-size;
  @include for-tablet-landscape-up {
    margin-left: $xl-size;
    margin-top: 0;
    max-width: 37.4rem;
  }
  @include for-desktop-up {
    margin-left: 12.8rem;
  }
  h4,
  h5 {
    color: $header-color--tertiary;
  }
  h4 {
    font-size: $xl-size;
    margin: 0 0 $l-size;
  }
  h5 {
    font-size: $l-size;
    margin: $l-size 0;
  }
  p {
    font-family: $body-font, serif;
    color: $text-color;
    font-size: 2.4rem;
    line-height: $leading-relaxed;
    font-weight: 400;
  }
}

.front-page__featured {
  padding: 0 $xl-size;
  @include for-tablet-landscape-up {
    padding: 0 19.2rem;
  }
  .front-page__misson-text {
    display: none;
  }
}
// ul.featured-posts {
//   grid-template-columns: 1fr;
//   @include for-landscape-portrait-up {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
// .wp-block-latest-posts.columns-3 li {
//   width: initial;
//   @include for-landscape-portrait-up {
//     width: calc(33.33333% - 0.83333em);
//   }
// }

.front-page__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.2rem $xl-size 12rem;
  @include for-desktop-up {
    padding: 15.2rem 19.4rem 12rem;
  }
  h2 {
    color: $header-color--tertiary;
    margin: 0;
    text-align: center;
  }
}
.front-page__tools-ctas {
  margin-top: 6.8rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: initialh;
  }
}
.front-page__tools-cta {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  align-items: center;
  button {
    margin-top: 2rem;
    min-width: 100%;
  }
  p {
    text-align: center;
    color: $text-color;
    font-family: $body-font, serif;
    line-height: $leading-normal;
    font-size: 2.2rem;
  }
  div {
    min-height: 11.2rem;
    display: flex;
    align-items: flex-end;
  }
}
