article.single {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 16.8rem 0 15.6rem;
}

.single__content {
  max-width: 83.6rem;
  h1 {
    color: $header-color--secondary;
    margin: 0 0 1.4rem;
  }
}

.single__subtitle {
  color: $header-color;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.4rem;
  h3 {
    font-size: $l-size;
    margin: 0;
  }
  span {
    margin: 0 0 0.4rem $xs-size;
  }
}
