.single__subtitle {
  color: $header-color;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.4rem;
  h3 {
    font-size: $l-size;
    margin: 0;
  }
  span {
    margin: 0 0 0.4rem $xs-size;
  }
}
